.title-name {
  text-align: center;
  font-size: 2em;
  background-color: rgb(226,135,67);
  border-radius: 50px 50px 0px 0px;
}

.wrapper {
  width: 500px;
}
.button-wrapper {
  margin-top: 10px;
  width: 500px;
  display: flex;
  justify-content: center;
}

.p-center {
  padding-top: 20px;
  margin-left: 10px;
}